/* General page styles - put these straight into your stylesheet */

body {
    margin: 0;
  }
  
html {
  font-family: 'Helvetica neue', Arial, 'sans serif';
  font-size: 10px;
  background-color: #ccc;
}
  
  /* Selectors to be matched up with rulesets */
  
  .card article img
  .card footer
  .card header
  .card

/* Rulesets to be matched up with selectors */
  
.card {
  width: 20em;
  height: 15em;
  margin: 5em auto;
  background-color: red;
  border: 100em solid black;
  border-radius: 1.5em;
}

.card h2, .card p{
  margin: 0;
}
  
.card header {
  background-image: linear-gradient(to bottom,rgb(255, 0, 0), rgb(255, 0, 0));
  border-radius: 1.5em 1.5em 0 0;
}
  
.card footer {
  background-image: linear-gradient(to bottom,rgb(245, 14, 14), rgb(255, 0, 0));
  border-radius: 0 0 1.5em 1.5em;
}

/*--card header and footer--*/

.card header, footer {
  height: 1em;
  padding: 3em;
}

.card header h2 {
font-size: 3em;
margin: 0;
}

.card footer p{
font-size: 3em;
line-height: 0;
margin: 0;
}

/* card article */

.card article{
  height: 25em;
  background-color: rgba(154, 14, 14, 0.843);
}

.card article img { 
  max-height: 100%;
  float: right;
}

.card article p{
line-height: 1;
padding: 1.5em;
color: white;
font-size: 2.5em;
}

