html {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px solid #000000;
  }
  
  .image2 {
    position: fixed;
    top: 500px;
    left: 700px;
    border: 1px solid #000000;
  }

  .image3 {
    position: fixed;
    top: 50px;
    left: 70px;
    
  }